/* TABLET */

@media all and (min-width: 768px) and (max-width: 1023px) {
  /* NAVBAR */

  #burger {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    position: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.25s;
    width: 100%;
    background: none;
    gap: 15px;
    margin-left: 10px;
  }

  nav ul:hover {
    background: none;
  }

  nav li {
    background: none;
    list-style-type: none;
  }

  nav ul li:hover {
    background: none;
  }

  nav.active ul nav li {
    list-style: none;
    padding: 5px 0;
    display: none;
  }

  nav.active .container-button-li {
    padding: 0;
  }

  .container-li {
    display: flex;
  }

  nav a {
    font-size: 0.9rem;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }

  nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* CONTAINER CARDS */

  /* FOOTER LEFT*/

  .left-footer {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 25px;
    width: 50%;
  }

  /* FOOTER RIGHT */
}

/* DESKTOP */

@media all and (min-width: 1024px) {
  /*NAVBAR */

  .logo img {
    width: 50px;
    margin-left: 30px;
  }

  #burger {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .container-li {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex: 1;
  }

  .container-button-li {
    margin-left: auto;
  }

  nav ul {
    position: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.25s;
    width: 100%;
    background: none;
    gap: 15px;
  }

  nav ul:hover {
    background: none;
  }

  nav li {
    background: none;
    list-style-type: none;
  }

  nav ul li:hover {
    background: none;
  }

  nav a {
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }

  nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  dl,
  ol,
  ul {
    margin-bottom: 0;
  }

  /* CONTAINER CARDS SANS CAROUSSEL */

  .cards-section {
    display: none;
  }

  .desktop-flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .desktop-flex h2 {
    margin-top: 40px;
  }

  .desktop-flex .container-flex {
    display: flex;
    gap: 40px;
    max-width: 70%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-flex .container-cards figure img {
    width: 279px;
  }

  /* FOOTER LEFT */

  .container-footer {
    justify-content: center;
  }

  .left-footer {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}


/*INDEX*/
@media all and (min-width: 768px) and (max-width: 1340px) {
  .intro {
    background-position: top 0px right 0px;
  }
  .text-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 0px;
    padding-top: 650px;
  }
  .category-1 {
    background-image: url(/img/domestiques/chaton.png);
    background-size: cover;
    background-position: top 0px right 0px;
  }
  .category-2 {
    background-image: url(/img/securites/105547.png);
    background-size: center;
  }
  .category-3 {
    background-image: url(/img/dangereux/105856.png);
    background-size: center;
  }
}
@media all and (min-width: 330px) and (max-width: 768px) {
  .intro {
    background-position: top 0px left 770px;
  }
  .text-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 0px;
    padding-top: 650px;
  }
  .text-content {
    text-align: center;
    max-width: 100%;
  }
  .text-content2 {
    text-align: center;
    display: none;
  }

  .category-1 {
    background-image: url(/img/domestiques/chaton.png);
    background-size: cover;
    background-position: top 0px right 0px;
  }
  .category-2 {
    background-image: url(/img/securites/105547.png);
    background-size: center;
    background-position: bottom 0px right 0px;
  }
  .category-3 {
    background-image: url(/img/dangereux/105856.png);
    background-size: center;
    background-position: bottom 0px right 0px;
  }
}


/*INDEX DEAL OF THE DAY*/
@media all and (min-width: 768px) and (max-width: 1340px) {
  .discount {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .discount-pub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding-left: 50px;
  }
  
  .discount-title {
    font-size: 60px;
  }
  
  .discount-price {
    font-family: robotoMed;
    color: white;
    font-size: 50px;
  }
  .discount-btn {
    margin-top: 50px;
  }
  
  .discount-buy {
    font-family: robotoMed;
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 70px;
    font-size: 50px;
  }
  .discount-produce {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 70px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    padding-right: 50px;
  }
}

@media all and (min-width: 330px) and (max-width: 768px) {
  .discount {
    flex-direction: column;
    justify-content: center;
    background-image: none;
    background-color: #1e1e1e;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .discount-pub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
  }
  
  .discount-title {
    font-size: 40px;
  }
  
  .discount-price {
    font-family: robotoMed;
    color: white;
    font-size: 30px;
  }
  .discount-btn {
    margin-top: 20px;
  }
  
  .discount-buy {
    font-family: robotoMed;
    border-radius: 15px;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 20px;
  }
  .discount-produce {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 70px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
    padding-right: 0px;
  }
}
