/* TABLET */

@media all and (min-width: 768px) and (max-width: 1023px) {
  .container-articles {
    display: flex;
  }

  .container-articles {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .produits-articles figure {
    width: 90%;
  }

  .produits-articles figcaption {
    width: 90%;
  }
}

/* DESKTOP */
@media all and (min-width: 1024px) {
  .container-articles {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .container-articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }

  figure {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  figcaption {
    width: 100%;
  }

  .produits-articles {
    width: 20%;
  }

  .produits-articles figure {
    width: 100%;
  }

  .produits-articles figcaption {
    width: 100%;
  }
}
