/* SECTION ILLUSTRATION */

.image-illus {
  background: url("../../img/Godzilla.png") fixed;
  background-size: cover;
  background-position: 82% 75%;
  height: 80vh;
}

/* SECTION PRODUITS */

.produits h2 {
  text-align: center;
  margin: 40px;
}

.container-produits {
  text-align: center;
}

figure img {
  width: 50%;
  object-fit: cover;
  height: 200px;
}

figcaption {
  background: #d9d9d9;
}
