/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {} */

/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

/*////////////////////////////////INDEX.PHP///////////////////////////////////*/
/*START NavBAR*/
.index-header {
  display: flex;
  background-color: #1e1e1e;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
  list-style: none;
}

.main-nav li a {
  color: rgb(255, 255, 255);
  font-family: robotoBold;
  font-size: 30px;
  text-decoration: none;
}

.header-btn {
  margin-right: 50px;
}
.btnlog {
  font-family: robotoMed;
  border: none;
  border-radius: 15px;
  background-color: #e0a800;
  border: 2px solid #e0a800;
  color: #ffffff;
  font-size: 16px;
  width: 120px;
  height: 50px;
  cursor: pointer;
}
.btnloga {
  text-decoration: none;
  color: #ffffff;
}
/*END NavBAR*/

/*START SECTION INTRO*/
.intro {
  background-image: url(/img/Godzilla.png);
  background-size: cover;
  height: 1200px;
}
.text-intro {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 550px;
  padding-right: 180px;
}
.title {
  font-family: roadRage;
  color: white;
  font-size: 100px;
}
.text-content {
  padding-left: 15px;
  max-width: 450px;
  text-align: start;
  font-family: robotoMed;
  font-size: 30px;
  color: white;
}
.sub-title {
  font-family: roadRage;
  font-size: 38px;
}
.text-content2 {
  font-family: robotoMed;
  color: white;
  font-size: 10px;
  padding-left: 15px;
}

.category-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.little-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  color: white;
  margin-top: -100px;
  font-family: robotoBold;
  font-size: 28px;
  text-align: center;
  border: 2px solid white;
  padding-top: 100px;
}

.category-1 {
  background-image: url(/img/domestiques/chaton.png);
  background-size: cover;
}
.category-2 {
  background-image: url(/img/securites/105547.png);
  background-size: cover;
  background-position: top -110px right 0px;
}
.category-3 {
  background-image: url(/img/dangereux/105856.png);
  background-size: cover;
  background-position: top -180px right 0px;
}

.produce-box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: robotoMed;
}
.produces-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid black;
}
.produces-cards {
  border-top: 2px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 200px;
  margin-left: 200px;
}

/*CARDS-PRODUCE*/
.container-produce {
  display: flex;
  gap: 40px;
  margin-top: 70px;
}
.card-produce {
  position: relative;
  height: 500px;
  box-shadow: 5px 5px 20px;
  overflow: hidden;
  cursor: pointer;
}
.intro-produce {
  position: absolute;
  height: 80px;
  width: 350px;
  bottom: 0;
  overflow: hidden;
  padding: 10px;
  color: #fff;
  background-color: rgba(27, 27, 27, 0.5);
  transition: 0.4s ease-in-out;
}
.card-produce:hover .intro-produce {
  height: 280px;
  bottom: 0;
  background-color: #000;
}
.card-produce:hover .text-p {
  opacity: 1;
  visibility: visible;
}
.card-produce:hover img {
  transform: scale(1.1) rotate(-3deg);
}
.img-produce {
  height: 500px;
  width: 350px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.4s ease-in-out;
}
.text-h4 {
  font-family: roadRage;
  margin: 10px;
  text-transform: uppercase;
  font-size: 28px;
}
.txt-deco{
  text-decoration: none;
  color: white;
}
.text-p {
  font-size: 16px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  font-family: robotoMed;
  text-align: start;
}

/*DEAL OF THE DAY*/
.discount {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url(/img/scary-house.jpg);
  width: 70%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}
.discount-pub {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}
.discount-left {
  margin-top: 120px;
}
.discount-title {
  font-family: robotoBold;
  font-size: 80px;
}

.discount-price {
  font-family: robotoMed;
  color: white;
  font-size: 50px;
}
.discount-btn {
  margin-top: 250px;
}
.discount-buy {
  font-family: robotoMed;
  border-radius: 15px;
  border: none;
  width: 200px;
  height: 70px;
  font-size: 50px;
}
.discount-produce {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 70px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 50%;
}

/*//////////////////////////////////START DETAIL.CSS/////////////////////////////////////*/
.detail-body {
  background-image: url(/img/tree.jpg);
  background-size: cover;
  backdrop-filter: blur(px);
}
.detail-card{
  margin-top: 120px;
  border: 4px solid rgb(8, 8, 8);
  border-radius: 10px;
}

.detail-name{
  color: rgb(194, 0, 0);
  font-family: roadRage;
  font-size: 80px;
  text-decoration: underline;
}
.detail-id{
  color: #ccc;
  font-family: robotoMed;
  text-align: start;
}
.detail-category{
  color: #ccc;
  font-family: robotoBold;
  font-size: 20px;
  text-align: start;
}
.detail-description{
  color: #ccc;
  font-family: robotoMed;
  font-size: 18px;
  text-align: start;
}
.detail-price{
  color: #ccc;
  font-family: robotoMed;
  font-size: 30px;
  text-align: start;
}
.btn-buy{
  font-family: robotoBold;
  font-size: 20px;
}

/*///////////////////////BACKOFFICE.PHP/////////////////////////////////////////////*/
/*START BACK OFFICE ADMIN*/
.add-panel {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  gap: 150px;
}

.card-add {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  font-family: robotoMed;
}

.form {
  display: flex;
  width: 100%;
  gap: 20px;
}

.left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-groupcard {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  z-index: 0;
}

input[type="text"],
select,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.promotion-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-column {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-box {
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-btn {
  color: #e0a800;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
}

.upload-btn:focus {
  background: white;
}

.upload-btn:hover {
  color: #1e1e1e;
}

.bannerOffice {
  background-image: url(/img/panel-admin.png);
  background-position: top -45px right 0px;
  height: 380px;
}

textarea {
  width: 300px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  resize: none;
}

textarea::placeholder {
  color: #999;
  font-style: italic;
}

.Admin-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: roadRage;
  font-size: 50px;
  color: rgb(206, 0, 0);
}

.btn-add {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}

.dashboard {
  padding-top: 80px;
}

.admin-board {
  font-family: robotoMed;
}

.btn a {
  color: white;
}

/*END BACK OFFICE ADMIN*/

/*START SUBSCRIBE LOGIN*/
.full-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: auto;
  background-color: rgb(22, 22, 22);
  height: 100vh;
  background-image: url(/img/loginReso2k.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.font-take {
  font-family: roadRage;
  color: white;
  font-size: 100px;
}
.sub-box {
  width: 300px;
}
.img-box {
  background-image: url(/img/login.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
}

/*END SUBSCRIBE LOGIN*/

/*///////////////////////////////START FOOTER///////////////////////////////////////////*/
.full-footer {
  background-color: #212529;
  margin-top: 50px;
}
.footer-style {
  background-color: #212529;
  color: #fff;
}
.footer-style a {
  color: #fff;
}
.footer-style .title-footer {
  text-decoration: underline;
  font-family: robotoBold;
  color: #ff9b06;
}
.footer-style .border-top {
  border-top: 1px solid #444;
}
.footer-content {
  text-align: center;
  font-family: robotoMed;
}
.TaF-footer {
  color: rgb(255, 255, 255);
  font-family: roadRage;
  font-size: 40px;
}
.footer-link a:hover {
  color: white; /* Couleur du texte au survol */
  text-decoration: none; /* Supprimer le soulignement au survol */
}
/*END FOOTER*/
